<div
	e2e="dropdown-multi-wrapper"
	class="dropdown-item-picker-wrap"
	[class.dropdown-item-multi-picker-fixed-width]="fixedWidth">

	<form class="form-horizontal">
		<div class="btn-group dropdown-item-multi-picker-field-wrap">
			<div
				e2e="dropdown"
				class="dropdown-select-backdrop"
				[class.open]="open"
				(click)="open = false">
			</div>

			<button
				type="button"
				[disabled]="disabled"
				class="dropdown-btn btn-block d-flex align-items-center justify-content-end outline-none radius-none pre-wrap-text"
				[class.text-muted]="disabled"
				(click)="toggleOpen()">

				<p
					class="dropdown-btn-label w-100"
					[class.d-none]="!values.length && !placeholderEmpty">

					<ng-template
						[ngIf]="!values.length && placeholderEmpty"
						[ngIfElse]="existData">

						{{placeholderEmpty}}
					</ng-template>
					<ng-template #existData>
						<ng-template
							[ngIf]="values.length && values.length !== storeOptions.length - 1"
							[ngIfElse]="empty">

							<span
								*ngFor="let value of values;let i = index;"
								class="inline-block padding-none">

								{{value.name}}{{value.helpText}}<span *ngIf="values.length > 1 && i !== values.length-1">,</span>
							</span>
						</ng-template>
						<ng-template #empty>
							{{placeholder}}
						</ng-template>
					</ng-template>
				</p>

				<span class="text-center p-1 pull-right">
					<i
						class="fa"
						[class.fa-caret-down]="!open"
						[class.fa-caret-up]="open">
					</i>
				</span>

				<div *ngIf="loading">
					<div
						e2e="loading-shade" 
						class="bhn-loading-shade">
						<i
							e2e="loader"
							class="fa fa-pulse fa-spinner"></i>
					</div>
				</div>
			</button>
		</div>

		<div
			*ngIf="open"
			class="dropdown-menu-drop"
			[class.dropdown-item-multi-picker-fixed-width]="fixedWidth">

			<div
				*ngIf="search && storeOptions.length"
				class="dropdown-search-wrap">

				<label>
					<input
						#searchElRef
						type="search"
						name="search"
						class="form-control"
						autocomplete="off"
						[formControl]="searchControl">
				</label>
			</div>

			<ul
				#dropdownItemMultiPickerList
				class="dropdown-menu dropdown-menu-right"
				[class.show]="open">

				<li
					*ngFor="let option of options; let i=index"
					[class.active]="option.checked"
					[class.highlighted]="option.highlighted"
					[class.text-right]="option.name === defaultOption.name"
					(keyup.enter)="enter()"
					(mouseenter)="onMouseOver(i)">

					<a
						e2e="drop-down-item"
						href="javascript:void(0)"
						class="dropdown-menu-text outline-none"
						title="{{option.name}} {{option.helpText}}"
						(click)="toggle(option)">

						<span class="pull-right pl-2">
							<i
								e2e="drop-down-item-checkbox"
								class="fa fa-square-o dropdown-select-icon"
								[class.fa-square-o]="!option.checked"
								[class.fa-check-square-o]="option.checked">
							</i>
						</span>

						{{option.name}}
						<span
							*ngIf="option.helpText"
							[class.text-muted]="!option.highlighted"
							[innerHtml]="option.helpText">
						</span>
					</a>
				</li>

				<li *ngIf="!options.length">
					<span class="padding">
						No Data
					</span>
				</li>
			</ul>
		</div>
	</form>
</div>
