<div
	*ngIf="fileInput"
	class="card p-2 mb-3 d-flex w-100">

	<div class="small">
		<b>{{file.name}}</b> ({{file.size | bytes}})
	</div>

	<div class="small">
		<b>To:</b> {{filePath}}
	</div>

	<div
		*ngIf="!isCanceledUpload"
		class="d-flex align-items-center">

		<div class="p-0 w-100 progress">
			<div
				class="progress-bar align-self-start full-height bg-success"
				[ngStyle]="{'width': progressPercentage + '%'}">
			</div>
		</div>
		<div
			class="d-flex flex-grow-0 pr-0 justify-content-between"
			[class.d-none]="progressPercentage == 100 || isCanceledUpload">

			<div class="pr-2 pl-2 small">
				{{progressPercentage}}%
			</div>

			<button
					class="btn border-none btn-sm p-0 pl-1 pr-1"
					[disabled]="progressPercentage === 100 || isCanceledUpload"
					[ngClass]="{
						'btn-outline-danger': !isSuccessUpload,
						'btn-outline-success': isSuccessUpload
					}"
					(click)="remove()">

				<i
					class="fa fa-lg"
					[ngClass]="{
						'fa-check': isSuccessUpload,
						'fa-times-circle': !isSuccessUpload || progressPercentage !== 100
					}">
				</i>
			</button>
		</div>
	</div>

	<div
		*ngIf="validate && progressPercentage === 100 && !isSuccessUpload"
		class="text-warning d-flex align-items-center">

		<i class="fa fa-refresh fa-spin mr-2"></i>
		<small>validate</small>
	</div>

	<div
		*ngIf="!validate && !isSuccessUpload && progressPercentage === 100"
		class="text-warning d-flex align-items-center">

		<i class="fa fa-refresh fa-spin mr-2"></i>
		<small>checking of successful upload</small>
	</div>

	<div
		*ngIf="isSuccessUpload && !validateErrors.length"
		class="text-success">

		<small>File uploaded successfully</small>
	</div>

	<div
		*ngIf="isCanceledUpload"
		class="text-danger">

		<small>File upload canceled</small>
	</div>

	<div
		*ngIf="errorMessage"
		class="text-danger">

		<small>{{ errorMessage }}</small>
	</div>

	<div
		*ngIf="validateErrors && validateErrors.length"
		class="text-danger">

		<small>File has validation errors</small>

		<a
			class="ml-1 small"
			href="javascript:void(0)"
			(click)="openModal(validationErrors)">

			See all
		</a>
	</div>
</div>

<div
	class="modal fade"
	bsModal
	#modalRef="bs-modal"
	tabindex="-1"
	role="dialog">

	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title pull-left">Validation Errors</h4>
				<button
					type="button"
					class="close pull-right"
					aria-label="Close"
					(click)="modalRef.hide()">

					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body p-4">
				<table class="table table-xl table-hover table-bordered m-0">
					<thead>
						<tr>
							<th class="align-middle">Error in:</th>
							<th class="align-middle">Message</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let error of validateErrors; let i = index">
							<td
								e2e="user-id"
								class="align-middle">

								{{error.title}}
							</td>
							<td
								e2e="pid"
								class="align-middle text-danger">

								{{error.message}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
