.switch {
	display: flex;
	align-items: center;

	&-control {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		width: 40px;
		height: 20px;
		display: inline-block;
		position: relative;
		border-radius: 10px;
		overflow: hidden;
		outline: none;
		border: none;
		background-color: #707070;
		transition: background-color ease 0.3s;

		&:before {
			content: "ON OFF";
			display: block;
			position: absolute;
			z-index: 2;
			width: 18px;
			height: 18px;
			background: #ffffff;
			left: 1px;
			top: 1px;
			border-radius: 50%;
			font: 8px/20px Helvetica;
			font-weight: bold;
			text-indent: -15px;
			word-spacing: 20px;
			color: #ffffff;
			text-shadow: -1px -1px rgba(0,0,0,0.15);
			white-space: nowrap;
			box-shadow: 0 1px 2px rgba(0,0,0,0.2);
			transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
		}

		&:disabled {
			&:before {
				background-color: #ececec;
			}

			& ~ .switch-led {
				background-color: #707070;
			}
		}

		&:checked {
			background-color: #28a745;

			&:before {
				left: 21px;
			}

			& ~ .switch-led {
				box-shadow: 0 0 3em rgb(0,161,75);
				background-color: #28a745;
			}

			&:disabled {
				& ~ .switch-led {
					background-color: #707070;
				}
			}
		}
	}

	&-led {
		width: 5px; height: 5px;
		background-color: #dc3545;
		border-radius: 50%;
	}
}
