<form ngNativeValidate>
	<div class="switch align-items-center justify-content-center">
		<input
			class="switch-control"
			name="switcher"
			type="checkbox"
			[ngClass]="{
				'cursor-pointer': !disabled,
				'cursor-default': disabled
			}"
			[checked]="active"
			[disabled]="disabled"
			(change)="switchState($event.target.checked)">

		<i
			*ngIf="!loading"
			class="switch-led ml-1"></i>
		<i
			*ngIf="loading"
			e2e="loader"
			class="fa fa-pulse fa-spinner fa-spin ml-1"></i>
	</div>
</form>
