<div class="mb-4">
	<page-header
		title="Empty records in Datamarts"
		linkToWiki="https://wiki.go.akamai-access.com/display/BI/Redshift+Empty+Records">

		<ng-template #pageHeaderSubTitle>
			This is a list which shows how many records with null or empty string were inserted in the Redshift columns.
		</ng-template>
	</page-header>
</div>

<form class="d-flex flex-column flex-xl-row align-items-center mb-4">
	<label
		for="dateRangeType"
		class="pr-3 col-form-label">

		<b>
			Filter by:
		</b>
	</label>

	<div class="clearfix d-flex align-items-center padding-vertical form-horizontal">
		<material-date-range
			#dateRange
			fieldId="dateRangeType"
			class="date-range p-2"
			[data]="dates"
			[exclude]="exclude"
			[disabled]="loading"
			[defaultData]="defaultDates"
			[fixedWidth]="true"
			(valuesChanged)="applyDates($event)">
		</material-date-range>

		<button
			class="btn btn-default"
			type="button"
			title="Refresh"
			[disabled]="loading"
			(click)="fetch()">

			<i
				e2e="refresh"
				class="fa fa-refresh"
				[class.fa-spin]="loading">
			</i>
		</button>
	</div>

	<div class="p-2 pr-xl-4 pl-xl-4">
		<span class="mr-1 valign-top">Show ignored fields:</span>
		<switch-control
			class="inline-block"
			[active]="params.showIgnore"
			[disabled]="loading"
			[loading]="loading"
			(changed)="toggleShowIgnoredFields($event)">
		</switch-control>
	</div>
</form>

<div class="relative mb-2">
	<div *ngIf="loading">
		<div
			e2e="loading-shade"
			class="bhn-loading-shade p-4">
			<i
				e2e="loader"
				class="fa fa-pulse fa-spinner fa-2x"></i>
		</div>
	</div>

	<accordion>
		<accordion-group
			*ngFor="let item of items; let i = index"
			(openChanged)="fetchColumns($event, item)">

			<div class="card mb-1">
				<accordion-header class="card-header mb-0">
					<a
						href="javascript:void(0)"
						class="d-flex flex-column flex-sm-row bold text-dark">

						<div class="col-sm-6 text-left">
							<b>{{ item.location }}</b>
						</div>

						<div class="col-sm-6 d-flex flex-column flex-xl-row justify-content-between">
							<div class="col text-nowrap small">
								<span class="text-info"><b>Total empty records: </b></span> <b>{{ item.emptyCount }}</b>
							</div>

							<div class="col text-nowrap small">
								<span class="text-info"><b>Total NULL records: </b></span> <b>{{ item.nullRecordsAllColumnsCount }}</b>
							</div>
						</div>
					</a>
				</accordion-header>

				<accordion-content>
					<div class="card-body relative">
						<div *ngIf="item.loading">
							<div
								e2e="loading-shade"
								class="bhn-loading-shade p-4">
								<i
									e2e="loader"
									class="fa fa-pulse fa-spinner fa-2x"></i>
							</div>
						</div>

						<table class="table table-hover table-lg table-striped m-0">
							<tbody>
								<tr *ngFor="let column of item.columns">
									<td
										e2e="json-path"
										class="align-middle bold">

										{{column.columnName}}
									</td>

									<td
										e2e="empty-count"
										class="align-middle pre-wrap-text small w-25">

										<span class="text-info"><b>Total empty records: </b></span>
										<b>{{ column.emptyCount }}</b>
									</td>

									<td
										e2e="null-records-all-columns-count"
										class="align-middle text-center min-width">

										<span class="text-info"><b>Total NULL records: </b></span>
										<b>{{ column.nullRecordsAllColumnsCount }}</b>
									</td>

									<td
										*permissions="{ container: containers.DATAMARTS_EMPTY_RECORDS, permissions: [permission.UPDATE] }"
										class="align-middle text-center">
										<span>Ignore</span>
										<switch-control
											[active]="column.ignoreNull"
											[disabled]="column.ignoreLoading"
											[loading]="column.ignoreLoading"
											(changed)="toggleIgnoreState($event, column)">
										</switch-control>
									</td>
								</tr>

								<tr *ngIf="!item.columns|| !item.columns.length && !loading">
									<td
										e2e="no-data"
										colspan="4">

										No data.
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</accordion-content>
			</div>
		</accordion-group>
	</accordion>

	<div
		e2e="no-data"
		*ngIf="!items.length"
		class="p-2 bg-light">

		No data.
	</div>
</div>

<div
	*ngIf="items && items.length && pagination.totalItems > pagination.itemsPerPage"
	class="row">

	<div class="col-12">
		<paginator
			[loading]="loading"
			[itemsPerPage]="pagination.itemsPerPage"
			[totalItems]="pagination.totalItems"
			[page]="pagination.page"
			(changed)="pageChanged($event.page)">
		</paginator>
	</div>
</div>
