<div class="table-responsive relative mb-3">
	<div *ngIf="loading">
		<div
			e2e="loading-shade"  
			class="bhn-loading-shade">
			<i
				e2e="loader"
				class="fa fa-pulse fa-spinner fa-2x"></i>
		</div>
	</div>

	<table
		e2e="db-to-db-recon-table"
		class="table table-striped margin-none">
		<thead>
			<tr>
				<th>Source application</th>
				<th>Source count</th>
				<th>Target count</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of items; let i = index">
				<td>
					{{item.source_application}}
				</td>

				<td>
					{{item.source_count}}
				</td>

				<td>
					{{item.target_count}}
				</td>
			</tr>

			<tr *ngIf="!items.length && !loading">
				<td
					e2e="no-data"
					colspan="7">
					No data.
				</td>
			</tr>
		</tbody>
	</table>
</div>

<a
	e2e="show-more"
	*ngIf="items.length"
	class="btn btn-link"
	[class.disabled]="loading"
	[routerLink]="['/portal', 'db-to-db-reconciliation']"
	(click)="navigateTo()">

	Show more...
</a>
