<page-header
	class="block mb-4"
	title="Post Processing Errors"
	linkToWiki="https://wiki.go.akamai-access.com/display/BI/Post+Processing+Errors">
</page-header>

<monitoring-post-processing-errors-form
	[loading]="loading"
	(refreshed)="refresh()"
	(tableTitlesChanged)="tableTitlesChanged($event)">
</monitoring-post-processing-errors-form>

<div class="table-responsive-wrap relative mb-3">
	<div *ngIf="loading">
		<div
			e2e="loading-shade"  
			class="bhn-loading-shade">
			<i
				e2e="loader"
				class="fa fa-pulse fa-spinner fa-2x"></i>
		</div>
	</div>

	<table class="table table-fixed table-striped table-bordered m-0">
		<thead >
			<tr>
				<th
					*ngFor="let item of tableTitles"
					scope="col"
					class="p-2 align-middle"
					[class.d-none]="loading">

					{{item}}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of tableData.content; let i = index">
				<td
					*ngFor="let key of item | keys"
					class="p-2 wrap-text fixed-width">

					<small>{{item[key]}}</small>
				</td>
			</tr>

			<tr *ngIf="!tableData.content.length">
				<td
					e2e="no-data"
					[attr.colspan]="tableTitles.length + 1">
	
					No data.
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div
	*ngIf="tableData.content.length && pagination.totalItems > pagination.itemsPerPage"
	class="row">

	<div class="col-12">
		<paginator
			[loading]="loading"
			[itemsPerPage]="pagination.itemsPerPage"
			[totalItems]="pagination.totalItems"
			[page]="pagination.page"
			(changed)="pageChanged($event.page)">
		</paginator>
	</div>
</div>