# dependencies
.node/
node_modules/

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vscode/settings.json
.vscode/extensions.json
.vscode/launch.json
.vscode/tasks.json
/client/node-wrapper.log
