<div 
	class="alerts col-12 col-lg-3" 
	[class.show]="alerts.length">

	<div
		e2e="alert"
		*ngFor="let item of alerts; let i = index"
		class="alert wrap-text"
		[ngClass]="{
			'alert-danger': item.type === alertType.ERROR || item.type === alertType.UNAUTHORIZED || item.type === alertType.CHUNK_LOAD_ERROR,
			'alert-success': item.type === alertType.SUCCESS
		}">

		<button
			type="button"
			class="close alert-close-btn"
			data-dismiss="alert"
			aria-label="Close"
			(click)="close(item.index)">

			<i class="fa fa-times" aria-hidden="true"></i>
		</button>

		<div
			e2e="alert-message"
			*ngIf="!item.details"
			class="clearfix wrap-text-normal">

			{{item.message}}
		</div>

		<div
			*ngIf="item.type === alertType.UNAUTHORIZED"
			class="clearfix text-center mt-2">

			<button
				type="button"
				class="btn btn-info p-1 pr-2 pl-2"
				aria-label="Login"
				(click)="loginSilent()">

				Login
			</button>
		</div>

		<div
			*ngIf="item.type === alertType.CHUNK_LOAD_ERROR"
			class="clearfix text-center mt-2">

			<button
				type="button"
				class="btn btn-info p-1 pr-2 pl-2"
				aria-label="Reload"
				(click)="forceRefreshPage()">

				Reload
			</button>
		</div>

		<div *ngIf="item.type === alertType.ERROR && item.details">
			<p class="mb-2">
				<span [class.d-none]="!item.details?.status">{{item.details?.status}}:</span> 
				<span *ngIf="item.details?.statusText; else elseBlock">
					{{item.details?.statusText}}
				</span>
				<ng-template #elseBlock>
					{{item.details?.name}}
				</ng-template>
			</p>
			<a
				href="javascript:void(0)"
				class="btn btn-link p-0"
				[routerLink]="['/errors/server-error']"
				[queryParams]="item.details">
			
				Show Detailed Error Page
			</a>
		</div>
	</div>
</div>
