.alerts {
	visibility: hidden;
	position: fixed;
	z-index: 1051;
	top: 3.75rem;
	right: 0;
	padding: 1rem;

	&.show {
		visibility: visible;
		-webkit-animation: fadein 0.5s;
		animation: fadein 0.5s;
	}

	.alert {
		box-shadow: 0 0 10px rgba(0, 0, 0, .2);
		margin-bottom: 5px;
	}

	.alert-close-btn {
		position: absolute;
		top: 0;
		right: 0;
		padding-right: 5px;
		padding-top: 2px;
	}
}
