$modal-dialog-margin:               .5rem;
$modal-dialog-margin-y-sm-up:       1.75rem;

.tooltip-md {
	.tooltip-inner {
		min-width: 500px;
	}
}

.modal-large {
	max-width: 90%;
	min-height: calc(100vh - #{$modal-dialog-margin * 2});

	@media(min-width: 667px) {
		min-height: calc(100vh - #{$modal-dialog-margin-y-sm-up * 2});
	}

	.modal-content {
		max-width: 100%;
		width: 100%;
		max-height: 100%;
		overflow: auto;
	}
}
