
<page-header
	class="block mb-4"
	title="Redshift DDL Diff Tool"
	linkToWiki="https://wiki.go.akamai-access.com/display/BI/Redshift+DDL+Diff+Tool"
	[isShowRefreshBtn]="true"
	[setLoadingStatus]="loading"
	(refreshed)="fetch()">

	<ng-template #pageHeaderSubTitle>
		This page shows the difference between Redshift tables structure on Integration and Production.
	</ng-template>
</page-header>

<div class="table-responsive relative">
	<div *ngIf="loading">
		<div
			e2e="loading-shade"
			class="bhn-loading-shade">
			<i
				e2e="loader"
				class="fa fa-pulse fa-spinner fa-2x"></i>
		</div>
	</div>

	<table
		e2e="missing-fields-table"
		class="table table-xl table-bordered m-0">

		<thead>
			<tr class="text-center">
				<th class="text-left">Schema Name</th>
			</tr>
		</thead>
		<tbody 
			*ngFor="let item of items; let i = index"
			class="table-row-group">

			<tr
				e2e="redshift-schemas-row"
				class="cursor-pointer"
				(click)="toggleRow(item)">

				<td
					e2e="object-key"
					class="fixed-width pre-wrap-text hover">

					<span class="inline-block p-2 text-primary">
						<i
							e2e="expander"
							class="fa"
							[class.fa-chevron-right]="!item.opened"
							[class.fa-chevron-down]="item.opened">
						</i>
					</span>

					<i
						*ngIf="item.hasDifferences"
						class="fa fa-exclamation-triangle p-1 text-warning"
						aria-hidden="true">
					</i>

					{{item.schemaName}}
				</td>
			</tr>

			<tr *ngIf="item.opened">
				<td
					colspan="2"
					class="border-none pl-4">

					<table class="table table-xl inline-table w-auto table-hover m-0">
						<thead>
							<tr>
								<th>Table Name</th>
								<th class="text-center">Present on Integration</th>
								<th class="text-center">Present on Production</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let table of item.tables" >
								<td>
									<i
										*ngIf="table.hasDifferences"
										class="fa fa-exclamation-triangle p-1 text-warning"
										aria-hidden="true">
									</i>

									{{table.name}}
								</td>
								<td class="text-center">
									<i
										e2e="success"
										class="fa fa-check-circle"
										[ngClass]="{
											'fa-check-circle text-success': table.presentOnIntegration,
											'fa-times-circle text-danger': !table.presentOnIntegration
										}">
									</i>
								</td>
								<td class="text-center">
									<i
										e2e="success"
										class="fa fa-check-circle"
										[ngClass]="{
											'fa-check-circle text-success': table.presentOnProduction,
											'fa-times-circle text-danger': !table.presentOnProduction
										}">
									</i>
								</td>
								<td>
									<form>
										<div class="form-group m-0">
											<button
												type="button"
												class="btn btn-default btn-sm modal-btn"
												(click)="openDiffTables(item, table)">
								
												<ng-template
													[ngIf]="table.hasDifferences" 
													[ngIfElse]="elseBlock">

													<i class="fa fa-files-o" aria-hidden="true"></i>
													Show diff between integration and production
												</ng-template>
												<ng-template #elseBlock>
													<i class="fa fa-file-o" aria-hidden="true"></i>
													Show content
												</ng-template>
											</button>
										</div>
									</form>
								</td>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>

		<tbody *ngIf="!items.length && !loading">
			<tr>
				<td
					e2e="no-data"
					colspan="1">

					No data.
				</td>
			</tr>
		</tbody>
	</table>
</div>
