@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}

@keyframes wink {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

@keyframes animate-stripes {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 60px 0;
	}
}

@keyframes auto-progress {
	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}
}

@keyframes ring {
	0% { transform: rotate(0) }
	1% { transform: rotate(30deg) }
	3% { transform: rotate(-28deg) }
	5% { transform: rotate(34deg) }
	7% { transform: rotate(-32deg) }
	9% { transform: rotate(30deg) }
	11% { transform: rotate(-28deg) }
	13% { transform: rotate(26deg) }
	15% { transform: rotate(-24deg) }
	17% { transform: rotate(22deg) }
	19% { transform: rotate(-20deg) }
	21% { transform: rotate(18deg) }
	23% { transform: rotate(-16deg) }
	25% { transform: rotate(14deg) }
	27% { transform: rotate(-12deg) }
	29% { transform: rotate(10deg) }
	31% { transform: rotate(-8deg) }
	33% { transform: rotate(6deg) }
	35% { transform: rotate(-4deg) }
	37% { transform: rotate(2deg) }
	39% { transform: rotate(-1deg) }
	41% { transform: rotate(1deg) }
	43% { transform: rotate(0) }
	100% { transform: rotate(0) }
}

@-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}

.animation-stripe {
	background-size: 30px 30px;
	background-image: linear-gradient(
		135deg,
		rgba(255, 255, 255, .15) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, .15) 50%,
		rgba(255, 255, 255, .15) 75%,
		transparent 75%,
		transparent
	);

	animation: animate-stripes 0.6s linear infinite;
	animation-duration: 1.25s;
	animation-direction: reverse;
}

.animation-bell {
	animation: ring 4s .7s ease-in-out infinite;
	transform-origin: 50% 4px;
}

.preloader {
	position: relative;

	&.in-process {
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0; top: 0;
			height: 100%;
			width: 100%;
			animation: rotation 2s linear infinite;
			border: 2px solid;
			border-top: 1px solid transparent;
			border-radius: 100%;
		}

		.icon {
			line-height: 1;
			animation: wink 1s ease-in-out infinite alternate;
		}
	}

	.badge {
		position: absolute;
		left: -0.2rem;
	}
}