@import "resets";
@import "animations";

.border-radius {
	border-radius: 4px;
}

.border-none {
	border: none !important;
}

.numeric-col {
	text-align: right;
}

.valign-top {
	vertical-align: top;
}

.valign-super {
	vertical-align: super;
}

.valign-middle {
	vertical-align: middle !important;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.auto-width {
	width: auto;
}

.auto-height {
	height: auto;
}

.inherit-height {
	height: inherit;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-default {
	cursor: default;
}

.cursor-not-allowed {
	cursor: not-allowed;
}

.pre-wrap-text {
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}

.nowrap-text {
	white-space: nowrap;
	word-break: normal;
	word-wrap: normal;
}

.hyphenate-text {
	overflow-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.wrap-text {
	word-break: break-all;
	word-wrap: break-word;
	white-space: normal;
}

.wrap-text-normal {
	white-space: normal;
	word-break: normal;
	word-wrap: normal;
}

.ellipsis-text {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.clip-text {
	white-space: nowrap;
	text-overflow: clip;
	overflow: hidden;
}

.text-underline {
	text-decoration: underline;
}

.vscroll-auto {
	overflow-y: auto;
}

.bold {
	font-weight: bold !important;
}

.background-none {
	background: none !important;
}

.img-preview {
	width: 30px;
}

.img-preview-sm {
	width: 50px;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.hover {
	&:hover {
		background-color: rgba(226, 226, 226, 0.5);
		transition: all .15s ease;
	}
}

.btn-group-xs>.btn, .btn-xs {
	padding: 0.125rem 0.5rem;
	font-size: 0.75rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}

.unordered-list-bullets li {
	&:before {
		content: '\2022';
		padding-right: 5px;
		color: #000000;
	}
}

label.custom-control-label {
	position: relative;
	padding-right: 1.5rem;
}

label.custom-control-label::before, label.custom-control-label::after {
	right: 0;
	left: auto;
}

.slash-separator {
	font-size: 1.5rem;
}
