.margin-none {
	margin: 0 !important;
}

.padding-none {
	padding: 0 !important;
}

.radius-none {
	border-radius: 0;
}

.outline-none {
	outline: 0;
	-webkit-appearance: none;
}

.radius-none {
	border-radius: 0;
}

.lh-0 {
	line-height: 0;
}

.width-none {
	width: auto !important;
}

.btn-link {
	font-size: 0.8125rem;
}
