<page-header
	class="block mb-4"
	title="Pipelines"
	linkToWiki="https://wiki.go.akamai-access.com/display/BI/Pipelines">

	<ng-template #pageHeaderSubTitle>
		This page shows the list of source applications that sent data to Galaxy for the selected date range.
	</ng-template>
</page-header>

<div class="col-xxxl-8 p-0">
	<div class ="mt-3 mb-3">
		<monitoring-stats-form [loading]="listComponentRef.loading"></monitoring-stats-form>
	</div>

	<p
		class="p-3"
		[class.d-none]="!missingConfigsData.eventIdsCountWithoutConfigs && !missingConfigsData.sourceAppsCountWithoutConfigs">

		There are
		<span *ngIf="!listComponentRef.loading; else elseBlock">
			{{missingConfigsData.eventIdsCountWithoutConfigs}}
		</span>
		<ng-template #elseBlock>
			<i
				e2e="loader"
				class="fa fa-pulse fa-spinner"></i>
		</ng-template>
		event types for
		<span *ngIf="!listComponentRef.loading; else elseBlock">
			{{missingConfigsData.sourceAppsCountWithoutConfigs}}
		</span>
		<ng-template #elseBlock>
			<i
				e2e="loader"
				class="fa fa-pulse fa-spinner"></i>
		</ng-template>
		data sources that are missing configurations.
		<a
			[routerLink]="['/portal', 'monitoring', 'missing-configurations']"
			[class.text-muted]="listComponentRef.loading">

			See a full list
		</a>
	</p>

	<ul
		e2e="pipeline-type-tabs"
		role="tablist"
		class="nav nav-tabs nav-justified flex-column flex-sm-row mb-3 text-center">

		<li class="nav-item">
			<a
				e2e="real-time"
				role="tab"
				class="btn btn-link nav-link w-100 w-sm-auto cursor-pointer"
				[class.disabled]="listComponentRef.loading"
				[class.active]="isLinkActive(pipelineType.REAL_TIME)"
				(click)="changeTab(pipelineType.REAL_TIME)">

				Real-time
			</a>
		</li>

		<li class="nav-item">
			<a
				e2e="batch"
				role="tab"
				class="btn btn-link nav-link w-100 w-sm-auto cursor-pointer"
				[class.disabled]="listComponentRef.loading"
				[class.active]="isLinkActive(pipelineType.BATCH)"
				(click)="changeTab(pipelineType.BATCH)">

				Batch
			</a>
		</li>

		<li class="nav-item">
			<a
				e2e="historical-real-time"
				role="tab"
				class="btn btn-link nav-link w-100 w-sm-auto cursor-pointer"
				[class.disabled]="listComponentRef.loading"
				[class.active]="isLinkActive(pipelineType.HISTORICAL_REAL_TIME)"
				(click)="changeTab(pipelineType.HISTORICAL_REAL_TIME)">

				Historical Real-time
			</a>
		</li>

		<li class="nav-item">
			<a
				e2e="historical-batch"
				role="tab"
				class="btn btn-link nav-link w-100 w-sm-auto cursor-pointer"
				[class.disabled]="listComponentRef.loading"
				[class.active]="isLinkActive(pipelineType.HISTORICAL_BATCH)"
				(click)="changeTab(pipelineType.HISTORICAL_BATCH)">

				Historical Batch
			</a>
		</li>
	</ul>

	<monitoring-stats-list (missingConfigsDataChanged)="composeMissingConfigsData($event)"></monitoring-stats-list>
</div>



