<div class="d-flex justify-content-between">
	<div
		e2e="pagination"
		*ngIf="pagination.totalItems > pagination.itemsPerPage"
		class="pagination-wrapper">
	
		<pagination
			[disabled]="loading"
			[maxSize]="pagination.maxSize"
			[itemsPerPage]="pagination.itemsPerPage"
			[totalItems]="pagination.totalItems"
			[boundaryLinks]="boundaryLinks"
			[(ngModel)]="pagination.page"
			(click)="pageChanged()">
		</pagination>
	</div>

	<div
		*ngIf="itemsPerPageEnabled" 
		class="form-group m-0 ml-auto items-per-page-wrapper">

		<label class="inline-block mr-2">
			Items per page:
			<select
				name="itemsPerPage" 
				class="form-control input-sm inline-block w-auto"
				[disabled]="loading"
				[(ngModel)]="pagination.itemsPerPage"
				(ngModelChange)="changeItemsPerPage()">

				<option 
					*ngFor="let option of itemsPerPageOptions"
					[value]="option">

					{{option}}
				</option>
			</select>
		</label>

		<span>{{pagination.startIndex}} - {{pagination.endIndex}} of {{pagination.totalItems}}</span>
	</div>
</div>
