<div class="d-flex align-items-bottom flex-column flex-xl-row">
	<div class="d-flex flex-fill align-items-center">
		<div class="mr-3">
			Schema Name: <b>{{config.schemaName}}</b>
		</div>

		<div class="mr-3">
			Table Name: <b>{{config.tableName}}</b>
		</div>
	</div>

	<div class="details-tabs-wrap pull-right pb-3">
		<ul
			e2e="details-tabs"
			role="tablist"
			class="nav nav-tabs nav-justified flex-column flex-sm-row text-center">

			<a class="nav-item nav-link active p-2 pl-3 pr-3 text-nowrap"
				data-toggle="tab"
				href="javascript:void(0)"
				role="tab"
				[class.active]="detailsTabs.tabs[0] && detailsTabs.tabs[0].active"
				(click)="selectTab(0)">

				<b>Columns</b>
			</a>
			<a class="nav-item nav-link d-flex p-2 pl-3 pr-3 text-nowrap"
				data-toggle="tab"
				href="javascript:void(0)"
				role="tab"
				[class.active]="detailsTabs.tabs[1] && detailsTabs.tabs[1].active"
				(click)="selectTab(1)">

				<b>Primary keys</b>
			</a>

			<a class="nav-item nav-link d-flex p-2 pl-3 pr-3 text-nowrap"
				data-toggle="tab"
				href="javascript:void(0)"
				role="tab"
				[class.active]="detailsTabs.tabs[2] && detailsTabs.tabs[2].active"
				(click)="selectTab(2)">

				<b>Order</b>
			</a>
		</ul>
	</div>
</div>

<tabset
	class="details-tabs"
	#detailsTabs
	[class.nav-hidden]="true">

	<tab *ngIf="config.columns">
		<ng-container *ngTemplateOutlet="configTableTemplate;context:{list: config.columns}"></ng-container>
	</tab>

	<tab *ngIf="config.primaryKeys">
		<ng-container *ngTemplateOutlet="configTableTemplate;context:{list: config.primaryKeys}"></ng-container>
	</tab>

	<tab *ngIf="config.orderColumns">
		<ng-container *ngTemplateOutlet="configTableTemplate;context:{list: config.orderColumns}"></ng-container>
	</tab>
</tabset>

<ng-template #configTableTemplate let-list="list">
	<div class="table-responsive relative">
		<table class="table table-sm table-hover table-striped table-bordered mb-0 details-table">
			<thead>
				<tr>
					<th class="align-middle">
						Column
					</th>

					<th class="align-middle">
						Json Path
					</th>

					<th class="align-middle">
						Type
						<span class="text-muted small">(can be with Pattern or Thousands Separator)</span>
					</th>

					<th class="align-middle">
						Default Value
					</th>

					<th class="align-middle">
						Explode Alias
					</th>

					<th class="align-middle">
						Assignments
					</th>

					<th class="align-middle text-center">
						Edit
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of list; let i = index">
					<td class="align-middle pre-wrap-text">
						{{item.tableColumn}}
					</td>

					<td class="align-middle pre-wrap-text">
						{{item.jsonPath}}
					</td>

					<td class="align-middle fixed-width">
						<span
							*ngIf="item.pattern"
							class="mr-1 text-nowrap">

							{{item.pattern}}
						</span>

						{{item.type}}

						<span
							*ngIf="item.thousandsSeparator"
							class="ml-1">

							with thousands separator:
							"{{item.thousandsSeparator}}"
						</span>
					</td>

					<td class="align-middle">
						{{item.defaultValue}}
					</td>

					<td class="align-middle">
						{{item.explodeAlias}}
					</td>

					<td class="align-middle">
						<span
							*ngIf="item.isPrimaryKey"
							class="badge badge-primary badge-pill">

							Primary Key
						</span>

						<span
							*ngIf="item.isModifiedDate"
							class="badge badge-info badge-pill">

							Modified Date
						</span>
					</td>

					<td
						e2e="actions-dropdown"
						class="text-center align-middle">

						<button
							class="btn btn-outline-primary p-1 pl-2 pr-2 border-none"
							title="Edit"
							[disabled]="true"
							(click)="Edit(item)">
							<i class="fa fa-pencil"></i>
						</button>
					</td>
				</tr>

				<tr *ngIf="list && !list.length">
					<td
						e2e="no-data"
						colspan="7">
						<b>No data.</b>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</ng-template>
