.details-tabs-wrap {
	.nav-link.active {
		box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 1);
		background: none;
	}

	.nav-link {
		border: none;
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
	}
}

.details-table {
	td {
		padding: .1rem;
	}
}
