<div
	*ngIf="isIntegration"
	class="environment-build-title">
	Integration environment
</div>

<div
	class="portal p-0 d-flex"
	[ngClass]="{'pt-3' : isIntegration}">
	<alerts (loginSilentEmitted)="loginSilent()"></alerts>

	<div
		class="portal-sidebar-wrap p-0"
		[class.open]="open">

		<portal-sidebar
			[open]="open"
			(toggledSidebar)="toggleSidebar()">
		</portal-sidebar>
	</div>

	<div class="portal-content-wrap">

		<portal-header (toggledSidebar)="toggleSidebar()"></portal-header>

		<section
			class="portal-content p-3"
			[ngClass]="{'portal-content-integration' : isIntegration}">
			<h1
				*ngIf="pageInfo?.title"
				e2e="title"
				class="page-title">

				{{pageInfo.title}}
			</h1>
			<router-outlet></router-outlet>
		</section>
	</div>
</div>

