<div class="d-flex align-items-center justify-content-center m-0 vh-100">
	<div class="alert alert-info col-md-5 p-4" role="alert">
		<h3 class="mb-2 text-center">
			You do not have permissions to visit the page.
		</h3>
		<p class="mb-2 text-center">
			See all available features

			<a
				href="javascript:void(0)"
				routerLink="/portal/user/details">
				here
			</a>
		</p>
		<p class="text-center">
			<a
				class="small btn btn-dark"
				href="javascript:void(0)"
				(click)="back()" >

				<i class="fa fa-angle-left mr-1"></i>
				back
			</a>

			or

			<a
				class="btn btn-info"
				href="javascript:void(0)"
				routerLink="/public">

				<i class="fa fa-home mr-1"></i>
				Go to Home Page
			</a>
		</p>
	</div>
</div>
