<div class="public">
	<admin-nav></admin-nav>

	<header class="intro d-flex m-0 align-items-center align-items-lg-start justify-content-center justify-content-lg-start text-center text-lg-left">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 ml-0 text-white mr-lg-auto">
					<h1 class="mb-5 display-4 font-weight-normal">
						The Galaxy Data Platform
					</h1>
					<p class="h4 mb-md-5 font-weight-light">
						Strategic platform designed for data of all kinds, redundant and secure.
						Explore, analyze, and vizualie data, leveraging insights to make decisions that will
						help us achieve the next level of growth.
					</p>
					<h3 class="mt-4 font-weight-normal">
						Blackhawk data emprowered.
					</h3>
				</div>
			</div>
		</div>
	</header>

	<section class="features-icons bg-light text-center pt-5 pb-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 features-icons-item mx-auto mb-3 mb-lg-0">
					<div class="mb-4">
						<i class="fa fa-search m-auto text-secondary"></i>
					</div>
					<p class="lead mb-0">Explore and learn about the data that's all around you.</p>
				</div>
				<div class="col-lg-4 features-icons-item mx-auto mb-3 mb-lg-0">
					<div class="mb-4">
						<i class="fa fa-bar-chart m-auto text-secondary"></i>
					</div>
					<p class="lead mb-0">Build reports, vizualizations, and presonalized dashboards.</p>
				</div>
				<div class="col-lg-4">
					<div class="features-icons-item mx-auto mb-3 mb-lg-0">
						<div class="mb-4">
							<i class="fa fa-filter m-auto text-secondary"></i>
						</div>
						<p class="lead mb-0">Add your data to Galaxy quickly and easily, callaboration included.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="showcase">
		<div class="container-fluid p-0">
			<div class="row no-gutters">
				<div class="col-lg-6 order-lg-2 text-white showcase-img">
					<img src="./../../../assets/i/bg-showcase.jpg" alt="Explore data sources, data fields..." class="img-responsive m-0 w-100" />
				</div>
				<div class="col-lg-6 order-lg-1 my-auto showcase-text p-3 p-lg-5">
					<h2 class="mb-2"></h2>
					<p class="lead mb-0 pl-3 pr-3 pl-5 pr-5">
						Explore data sources, data fields, and their meanings-understanding data is always the standing point.
						Looking for a report or vizualization that already exist? Find it easily and start your analysis from there.
					</p>
				</div>
			</div>

			<div class="row no-gutters">
				<div class="col-lg-6 text-white showcase-img">
					<img src="./../../../assets/i/bg-showcase.jpg" alt="Create new or enhance existing reports quickly and simply..." class="img-responsive m-0 w-100" />
				</div>
				<div class="col-lg-6 my-auto showcase-text p-3 p-lg-5">
					<h2 class="mb-2"></h2>
					<p class="lead mb-0 pl-3 pr-3 pl-5 pr-5">
						Create new or enhance existing reports quickly and simply. Even create vizualizations
						that can communicate data relationships at a glance, all using industry tools. Use those reports
						and vizualizations to build a presonalized dashboard of your KPIs too. All your analysis results in one place-making
						data-backend desicions has never been easier.
					</p>
				</div>
			</div>

			<div class="row no-gutters">
				<div class="col-lg-6 order-lg-2 text-white showcase-img">
					<img src="./../../../assets/i/bg-showcase.jpg" alt="Intersted in analyzing your own data..." class="img-responsive m-0 w-100" />
				</div>
				<div class="col-lg-6 order-lg-1 my-auto showcase-text p-3 p-lg-5">
					<h2 class="mb-2"></h2>
					<p class="lead mb-0 pl-3 pr-3 pl-5 pr-5">
						Intersted in analyzing your own data, or sharing it with others, we can do that too! Use our simple
						wizards to walk you throught onboarding your data. Share data, reports, and vizualizations
						across the company- collaboration made easy. Galaxy is built on distributed data storage, so your data
						is safe and secure. Jump in, the water's warm!!
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- <section class="vizualizations text-center bg-light pt-5 pb-5">
		<div class="container">
				<div class="vizualizations-icons-item row mb-4">
					<div class="col-md-2 mb-4 mb-md-0 d-flex align-items-center justify-content-center">
						<img src="./../../../../assets/i/storage-amazon-s3-bucket.svg" class="logo img-responsive"/>
					</div>
					<div class="col-md-10 text-md-left">
						<h3 class="mb-2">Amazon S3</h3>
						<blockquote class="relative mb-0 p-0">
							We use <a href="https://aws.amazon.com/" target="_blank">Amazon S3</a> which is secure, highly scalable, durable object storage with millisecond latency for data access.
							S3 is built to store any type of data from anywhere – web sites and mobile apps,
							corporate applications, and data from IoT sensors or devices.
							In BHN data lake we store data in various format such as Raw data format,
							Parquet compressed format and Flattened JSON structured data at multiple stages in Pipeline.
						</blockquote>
					</div>
				</div>

				<div class="vizualizations-icons-item row mb-4">
					<div class="col-md-2 mb-4 mb-md-0 d-flex align-items-center justify-content-center">
						<img src="./../../../../assets/i/analytics-amazon-redshift.svg" class="logo img-responsive"/>
					</div>
					<div class="col-md-10 text-md-left">
						<h3 class="mb-2">Amazon Redshift</h3>
						<blockquote class="relative mb-0">
							For data warehousing we use, Amazon Redshift which provides the ability to run complex,
							analytic queries against petabytes of structured data, and includes Redshift Spectrum that runs SQL queries directly against
							Exabytes of structured or unstructured data in S3 without the need for unnecessary data movement
							We store the data from Flattened JSON structured S3 bucket into segregated Redshift Datamart by functionality of the source systems.
							Microstrategy is used as a tool to build reports on top of Amazon Redshift datamarts.
						</blockquote>
					</div>
				</div>

				<div class="vizualizations-icons-item row mb-4">
					<div class="col-md-2 mb-4 mb-md-0 d-flex align-items-center justify-content-center">
						<img src="./../../../../assets/i/analytics-amazon-athena.svg" class="logo img-responsive"/>
					</div>
					<div class="col-md-10 text-md-left">
						<h3 class="mb-2">Amazon Athena</h3>
						<blockquote class="relative mb-0">
							For interactive analysis, Amazon Athena makes it easy to analyze data directly in S3 and Glacier using standard SQL queries.
							Athena is serverless, so there is no infrastructure to setup or manage. You can start querying data instantly,
							get results in seconds and pay only for the queries you run. Simply point to your data in Amazon S3, define the schema,
							and start querying using standard SQL. Most results are delivered within seconds.
							In BHN Data lake you can generate-config a Glue catalog table and start querying the data using Athena from within the AWS Console.
						</blockquote>
					</div>
				</div>

				<div class="vizualizations-icons-item row mb-4">
					<div class="col-md-2 mb-4 mb-md-0 d-flex align-items-center justify-content-center">
						<img src="./../../../../assets/i/analytics-amazon-kinesis.svg" class="logo img-responsive"/>
					</div>
					<div class="col-md-10 text-md-left">
						<h3 class="mb-2">Amazon Kinesis</h3>
						<blockquote class="relative mb-0">
							For real-time analytics, Amazon Kinesis makes it easy to collect,
							process and analyze streaming data such as IoT telemetry data,
							application logs, and website clickstreams. This enable you to process,
							and analyze data as it arrives in your data lake, and respond in real-time instead of having to wait until all your data is collected before the processing can begin.
							In BHN Data lake we have real time pipelines for consumers such as AMP & Settlement for Blast transactions and Master data.
						</blockquote>
					</div>
				</div>
		</div>
	</section> -->

	<section class="testimonials text-center bg-light pt-5 pb-5">
		<div class="container">
			<div class="row">
				<div class="testimonials-icons-item col-lg-4 mx-auto mb-3 mb-lg-0">
					<div class="d-flex align-items-center justify-content-center mb-4">
						<img src="./../../../../assets/i/storage-amazon-s3-bucket.svg" class="logo img-responsive"/>
					</div>
					<blockquote class="relative mb-0">
						In BHN data lake we store data in S3 in various format such as Raw data format, Parquet compressed format and Flattened JSON structured data at multiple stages in Pipeline.
					</blockquote>
				</div>

				<div class="testimonials-icons-item col-lg-4 mx-auto mb-3 mb-lg-0">
					<div class="d-flex align-items-center justify-content-center mb-4">
						<img src="./../../../../assets/i/analytics-amazon-redshift.svg" class="logo img-responsive"/>
					</div>
					<blockquote class="relative mb-0">
						We store the data from Flattened JSON structured S3 bucket into segregated Redshift Datamart. Reports are built in Microstrategy on top of Amazon Redshift data marts.
					</blockquote>
				</div>

				<div class="testimonials-icons-item col-lg-4 mx-auto mb-3 mb-lg-0">
					<div class="d-flex align-items-center justify-content-center mb-4">
						<img src="./../../../../assets/i/analytics-amazon-athena.svg" class="logo img-responsive"/>
					</div>
					<blockquote class="relative mb-0">
						For interactive analysis, In BHN Data lake you can create a Glue catalog table and start querying the data using Athena from within the AWS Console.
					</blockquote>
				</div>
			</div>
		</div>
	</section>

	<footer class="footer pt-4 pb-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 h-100 text-center text-lg-left my-auto">
					<p class="text-muted small mb-4 mb-lg-0">
						© Blackhawk Network. All Rights Reserved, {{date| date:'yyyy'}}
					</p>
				</div>
			</div>
		</div>
	</footer>
</div>
