.intro {
	position: relative;
	min-height: 100vh;
	background-size: cover;
	background-position: bottom center;
	background-image: url('./../../../../assets/i/header-photo.png');

	.overlay {
		position: absolute;
		background-color: #212529;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		opacity: .1;
	}
}

.features-icons-item i,
.testimonials-icons-item i {
	font-size: 6.5rem;
}

// .showcase .showcase-img {
// 	background-size: cover;
// }

// .testimonials-icons-item blockquote {
// 	&:before,
// 	&:after {
// 		position: absolute; 
// 		width: 10px;
// 		height: 10px;
// 	}

// 	&:before {
// 		content: url('./../../../assets/i/quote-open.png');
// 		top: 0;
// 		left: 0;
// 	}

// 	&:after {
// 		content: url('./../../../assets/i/quote-close.png');
// 		bottom: 0;
// 		right: 0;
// 	}
// }

@media (min-width: 1200px) {
	.testimonials,
	.features-icons,
	.vizualizations {
		padding-top: 7rem!important;
		padding-bottom: 7rem!important;
	}
}

@media (min-width: 992px) {
	.intro {
		padding-top: 12rem;
		padding-bottom: 12rem;
	}
}
