$border-color: #626c6c;
$text-color: #212529;

$heading-text-size: 0.8125rem;
$item-indent: 3em;

.pipeline-wrap {
	h2 {
		word-break: break-word;
		word-wrap: break-word;
		white-space: unset;
	}

	.heading-title {
		font-size: $heading-text-size;
	}

	.nav-item .nav-link {
		border: 4px dashed transparent;
		padding: 0;

		&:not(.disabled).active {
			border-color: #077a7a;
			color: #000000;
		}

		.card {
			border: 1px solid #eaeaea;
			margin: 4px;
		}

		&:not(.disabled):not(.s3-bucket-link) .card:hover,
		&:not(.disabled).active .card {
			border-color: #077a7a;
			background-color: #c5d9d9;
		}
	}
}

.pipeline-error,
.pipeline-pending-events {
	color: #ffffff;
}

.pipeline-error {
	background-color: rgb(255, 0, 0);
}

.pipeline-pending-events {
	background-color: rgb(29, 133, 241);
}

.s3-bucket-link:before {
	content: "\f08e";
	font-family: 'FontAwesome';
	position: absolute;
	top: 0;
	right: 0;
	font-size:0.9em;
}

.pipeline-components-event-counts {
	position: absolute;
	top: -10px;
	right: -20px;

	a {
		min-width: 30px;
		font-size: 13px;
	}
}

@media (min-width: 1440px) {
	.pipeline-wrap {
		.nav {
			justify-content: center;
		}

		.nav-item {
			padding: 0;
			flex: 0 0 8.33333333%;
			max-width: 8.33333333%;
		}

		.nav-item.s3-items {
			flex: 0 0 16.66666667%;
			max-width: 16.66666667%;
		}
	}
}

@media (min-width: 992px) {
	.pipeline-wrap {
		.nav {
			padding: 35px 0;
			flex-wrap: nowrap;
			overflow-x: auto;

			&::-webkit-scrollbar {
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				width: 20px;
				height: 10px;
			}

			&::-webkit-scrollbar-thumb {
				border: 1px solid rgba(108, 117, 125, 1);
				border-radius: 5px;
				background-color: rgba(108, 117, 125, 1);
			}
		}

		.nav-item:not(.s3-items):not(.redshift-items),
		.redshift-data-load,
		.redshift {
			&:after {
				content: '';
				position: absolute;
			}

			&:before {
				content: '';
				position: absolute;
			}
		}

		.nav-item:not(.s3-items):not(.redshift-items),
		.redshift {
			&:before {
				width: 2em;
				margin-top: -1.5px;
				border-bottom: 3px solid $border-color;
				top: 50%;
				left: 100%;
			}

			&:after {
				margin-top: -5px;
				border-top: 5px solid transparent;
				border-left: 20px solid $border-color;
				border-bottom: 5px solid transparent;
				top: 50%;
				right: -$item-indent;
			}
		}

		.redshift-data-load {
			&:before {
				left: -$item-indent;
			}

			&:after {
				right: 100%;
			}
		}

		.redshift {
			&:before {
				width: 0;
				height: 2em;
				margin: 0 0 -1em -2px;
				border: 2px solid $border-color;
				top: -$item-indent;
				left: 50%;
			}

			&:after {
				margin: -20px -5px 0 0;
				border-left: 5px solid transparent;
				border-top: 20px solid $border-color;
				border-right: 5px solid transparent;
				top: 0;
				right: 50%;
			}
		}
	}
}
