<div class="d-flex flex-column flex-xl-row align-items-start mb-2">
	<p
		e2e="pipeline"
		class="p-2 pl-xl-0 h5 m-0">

		Pipeline: <b>{{params.pipelineAliasUi}}</b>
	</p>
	<p
		e2e="source"
		class="p-2 h5 m-0">

		Source: <b>{{params.sourceApplication}}</b>
	</p>
	<p
		e2e="period"
		class="p-2 h5 m-0">
		Period:
		<b>
			{{params.dates.dateRange}}
		</b>
	</p>

	<p
		e2e=" component"
		class="p-2 h5 m-0 mr-auto">

		Component: <b>{{params.processAliasUi}}</b>
	</p>

	<page-header
		linkToWiki="https://wiki.go.akamai-access.com/display/BI/Pipeline">
	</page-header>
</div>

<div class="mb-3">
	<date-range-ui
		[dateRange]="params.dates.dateRange"
		[dateFrom]="params.dates.dateFrom"
		[dateTo]="params.dates.dateTo">
	</date-range-ui>
</div>

<section class="pipeline-wrap">
	<ul
		e2e="pipeline-canvas"
		role="tablist"
		class="nav align-items-center nav-pills text-center">

		<li class="col-lg-2 nav-item mr-lg-5 align-self-center">
			<a
				e2e="input-bucket"
				class="nav-link s3-bucket-link relative text-dark p-0 border-none bg-transparent"
				[href]="(params.pipelineAliasUi | uppercase) == pipelineType.BATCH ? inputBatchS3Url : historicalInputBatchS3Url"
				target="_blank">

				<div class="card position-static border-none background-none">
					<div class="card-header d-flex justify-content-center p-1 border-none background-none">
						<img
							src="./../../../../../../assets/i/storage-amazon-s3-bucket-objects.svg"
							class="img-responsive"/>
					</div>
					<div
						class="card-body heading-title p-1">
						<span *ngIf="(params.pipelineAliasUi | uppercase) == pipelineType.BATCH; else historicalBatch">
							{{inputBatchSTitle}}
						</span>
						<ng-template #historicalBatch>
							{{historicalInputBatchSTitle}}
						</ng-template>
					</div>
				</div>
			</a>
		</li>

		<li
			*ngIf="pipelineValues.isBatch"
			class="col-lg-2 nav-item mr-lg-5 align-self-center">

			<a
				e2e="batch-app"
				class="nav-link p-0 rounded text-dark background-none"
				routerLink="batch"
				routerLinkActive="active"
				queryParamsHandling="merge"
				role="tab">

				<div class="card position-static">
					<div class="card-header p-2 border-none background-none">
						<i class="fa fa-cubes fa-2x"></i>
					</div>
					<div class="card-body heading-title p-1">
						{{batchData.title}}
					</div>
				</div>
			</a>

			<div class="pipeline-components-event-counts">
				<i
					[class.d-none]="!pendingEventsCountLoading && !pipelineErrorsCountLoading"
					class="fa fa-spinner fa-spin">
				</i>

				<div
					*ngIf="!pendingEventsCountLoading && !pipelineErrorsCountLoading"
					class="d-flex flex-row align-self-stretch btn-group">

					<a
						e2e="data-transfer-pending-events"
						*ngIf="batchData.pendingEventsCount"
						title="{{batchData.pendingEventsCount}}"
						class="d-none pipeline-pending-events btn inline-block m-0 p-1"
						[routerLink]="batchData.pendingEventsPageUrl"
						queryParamsHandling="merge">

						{{batchData.pendingEventsCount | abbreviateNumber}}
					</a>

					<a
						e2e="data-transfer-error-count"
						*ngIf="batchData.errorsCount"
						class="pipeline-error btn inline-block m-0 p-1"
						title="{{batchData.errorsCount}}"
						[routerLink]="batchData.errorDetailsPageUrl"
						queryParamsHandling="merge">

						{{batchData.errorsCount | abbreviateNumber}}
					</a>
				</div>
			</div>
		</li>

		<li class="col-lg-2 nav-item mr-lg-5 align-self-center">
			<a
				e2e="raw-bucket"
				class="nav-link s3-bucket-link relative text-dark p-0 border-none bg-transparent"
				[href]="pipelineValues.isHistorical ? rawDataS3UrlHistorical : rawDataS3Url"
				target="_blank">

				<div class="card position-static border-none background-none">
					<div class="card-header d-flex justify-content-center p-1 border-none background-none">
						<img
							src="./../../../../../../assets/i/storage-amazon-s3-bucket-objects.svg"
							class="img-responsive"/>
					</div>
					<div
						class="card-body heading-title p-1">
						<span *ngIf="pipelineValues.isHistorical; else elseRawData">
							Historical Raw Data S3
						</span>
						<ng-template #elseRawData>
							Raw Data S3
						</ng-template>
					</div>
				</div>
			</a>
		</li>

		<li class="col-lg-2 nav-item mr-lg-5 align-self-center">
			<a
				e2e="data-transfer"
				class="nav-link rounded text-dark background-none"
				routerLink="data-transfer"
				routerLinkActive="active"
				queryParamsHandling="merge"
				role="tab">

				<div class="card position-static">
					<div class="card-header w-100 p-2 border-none background-none">
						<i class="fa fa-retweet fa-2x"></i>
					</div>

					<div class="card-body heading-title p-1">
						{{dataTransferData.title}}
					</div>
				</div>
			</a>

			<div class="pipeline-components-event-counts">
				<i
					[class.d-none]="!pendingEventsCountLoading && !pipelineErrorsCountLoading"
					class="fa fa-spinner fa-spin">
				</i>

				<div
					*ngIf="!pendingEventsCountLoading && !pipelineErrorsCountLoading"
					class="d-flex flex-row align-self-stretch btn-group btn-group">

					<a
						e2e="data-transfer-pending-events"
						*ngIf="dataTransferData.pendingEventsCount"
						title="{{dataTransferData.pendingEventsCount}}"
						class="d-none pipeline-pending-events btn m-0 p-1"
						[routerLink]="dataTransferData.pendingEventsPageUrl"
						queryParamsHandling="merge">

						{{dataTransferData.pendingEventsCount | abbreviateNumber}}
					</a>

					<a
						e2e="data-transfer-error-count"
						*ngIf="dataTransferData.errorsCount"
						class="pipeline-error btn m-0 p-1"
						title="{{dataTransferData.errorsCount}}"
						[routerLink]="dataTransferData.errorDetailsPageUrl"
						queryParamsHandling="merge">

						{{dataTransferData.errorsCount | abbreviateNumber}}
					</a>
				</div>
			</div>
		</li>

		<li class="col-lg-2 nav-item mr-lg-5 align-self-center">
			<a
				e2e="intermediate-bucket"
				[href]="intermediateS3Url"
				target="_blank"
				class="nav-link s3-bucket-link relative p-0 text-dark border-none bg-transparent">

				<div class="card position-static border-none background-none">
					<div class="card-header d-flex justify-content-center p-1 border-none background-none">
						<img
							src="./../../../../../../assets/i/storage-amazon-s3-bucket-objects.svg"
							class="img-responsive"/>
					</div>
					<div
						class="card-body heading-title p-1">
						Intermediate S3
					</div>
				</div>
			</a>
		</li>

		<li class="col-lg-2 nav-item ml-lg-5 d-flex flex-column align-self-stretch justify-content-between redshift-items">
			<div class="relative">
				<a
					e2e="redshift-dtl-app"
					class="nav-link relative background-none redshift-data-load text-dark"
					routerLink="redshift-data-copy"
					routerLinkActive="active"
					queryParamsHandling="merge"
					role="tab">

					<div class="card position-static">
						<div class="card-header w-100 p-2 border-none background-none">
							<i class="fa fa-tasks fa-2x"></i>
						</div>
						<div class="card-body heading-title p-1">
							{{redshiftDataCopyData.title}}
						</div>
					</div>
				</a>

				<div class="pipeline-components-event-counts">
					<i
						[class.d-none]="!pendingEventsCountLoading && !pipelineErrorsCountLoading"
						class="fa fa-spinner fa-spin">
					</i>

					<div
						*ngIf="!pendingEventsCountLoading && !pipelineErrorsCountLoading"
						class="d-flex flex-row align-self-stretch btn-group">

						<a
							e2e="data-transfer-pending-events"
							*ngIf="redshiftDataCopyData.pendingEventsCount"
							title="{{redshiftDataCopyData.pendingEventsCount}}"
							class="d-none pipeline-pending-events btn inline-block m-0 p-1"
							[routerLink]="redshiftDataCopyData.pendingEventsPageUrl"
							queryParamsHandling="merge">

							{{redshiftDataCopyData.pendingEventsCount | abbreviateNumber}}
						</a>

						<a
							e2e="data-transfer-error-count"
							*ngIf="redshiftDataCopyData.errorsCount"
							class="pipeline-error btn inline-block m-0 p-1"
							title="{{redshiftDataCopyData.errorsCount}}"
							[routerLink]="redshiftDataCopyData.errorDetailsPageUrl"
							queryParamsHandling="merge">

							{{redshiftDataCopyData.errorsCount | abbreviateNumber}}
						</a>
					</div>
				</div>
			</div>

			<a
				e2e="redshift"
				href="javascript:void(0)"
				class="nav-link relative cursor-not-allowed background-none mt-lg-5 p-0 disabled redshift"
				role="tab">

				<div class="card position-static">
					<div class="card-header w-100 p-2 border-none background-none">
						<i class="fa fa-database fa-2x"></i>
					</div>
					<div class="card-body heading-title p-1">
						{{redshiftData.title}}
					</div>
				</div>
			</a>
		</li>
	</ul>

	<router-outlet></router-outlet>
</section>
