$text-color: #343a40;
$text-color-selected: #626c6c;
$border-size: 1px;
$border-size-selected: 2px;
$border-size-selected-x2: 4px;
$border-color: #e9ecef;
$border-color-selected: #626c6c;
$input-height-base: 1rem * 2.3 !default;;
$triangle-width: 10px;

$padding-base: 10px;
$padding-base-vertical: 6px;
$padding-small-vertical: 5px;
$padding-small-horizontal: 10px;

.date-range-custom {
	min-width: 245px;
}

.material-date-range-fixed-width {
	width: 205px;
}

.open {
	> .date-range-custom {
		display: block;
	}
}

.custom-select {
	position: relative;
	min-height: $input-height-base;
	min-width: 140px;
	padding: $padding-small-vertical $padding-base;

	border: 1px solid #d1d2d4;
	border-radius: 0;
	border-bottom: $border-size-selected solid $border-color-selected;
	background: #fff;
}

.caret-icon {
	padding: $padding-small-vertical $padding-base;
	color: $text-color-selected;
	background-color: #fff;
}

.custom-option-list {
	position: absolute;
	top: calc(100% + 15px);
	left: $padding-small-horizontal;

	width: 90%;
	padding: 0;

	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	z-index: 9;
}

.custom-option {
	padding: $padding-base-vertical $padding-base;
	font-size: 0.75rem;

	color: $text-color;
	border-bottom: $border-size solid $border-color;
	border-left: $border-size-selected-x2 solid transparent;
	background-color: #fff;
	transition: all .35s ease;

	&:hover,
	&.active {
		color: $text-color-selected;
		border-left: $border-size-selected-x2 solid $border-color-selected;
	}
}

li.custom-option {
	list-style: none;
}

.triangle-pointer {
	position: absolute;
	top: calc(-#{$triangle-width} - 4px);
	right: 5px;

	width: 0;
	height: 0;

	border-top: $triangle-width solid transparent;
	border-right: $triangle-width solid transparent;
	border-bottom: $triangle-width solid #fff;
	border-left: $triangle-width solid transparent;
}
