<div
	class="input-group"
	[class.material-date-range-fixed-width]="fixedWidth"
	[class.open]="open">

	<div
		*ngIf="range === 'CUSTOM'"
		class="date-range-custom dropdown-menu dropdown-menu-right p-2">

		<div class="d-flex pb-2">
			<div class="form-group col-xs-10 m-0 p-0">
				<input
					class="form-control datepicker-field"
					name="date"
					readonly
					#dpFrom="bsDatepicker"
					bsDatepicker
					placeholder="From Date"
					triggers="keydown:click"
					[bsConfig]="{containerClass : 'theme-default', rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD'}"
					[(bsValue)]="from"
					[(ngModel)]="from"
					(bsValueChange)="setFrom($event)">
			</div>

			<div class="input-group-btn col-xs-2 m-0 p-0">
				<button
					e2e="date-range-from"
					type="button"
					class="btn btn-default border"
					(click)="dpFrom.toggle()">

					<i class="fa fa-calendar"></i>
				</button>
			</div>
		</div>

		<div class="d-flex">
			<div class="form-group col-xs-10 m-0 p-0">
				<input
					class="form-control datepicker-field"
					name="date"
					readonly
					#dpTo="bsDatepicker"
					bsDatepicker
					placeholder="To Date"
					triggers="keydown:click"
					[minDate]="min"
					[maxDate]="max"
					[bsConfig]="{containerClass : 'theme-default', rangeInputFormat : 'YYYY-MM-DD', dateInputFormat: 'YYYY-MM-DD'}"
					[(bsValue)]="to"
					[(ngModel)]="to"
					(bsValueChange)="setTo($event)">
			</div>

			<div class="form-group col-xs-2 m-0 p-0">
				<button
					e2e="date-range-to"
					type="button"
					class="btn btn-default border"
					(click)="dpTo.toggle()">

					<i class="fa fa-calendar"></i>
				</button>
			</div>
		</div>

		<div class="text-right pt-2">
			<button
				e2e="apply-date-range"
				type="button"
				class="btn btn-default border"
				[disabled]="!from || !to"
				(click)="applyRange()">

				Apply
			</button>
		</div>
	</div>

	<div
		e2e="dropdown"
		class="dropdown-select-backdrop"
		[class.open]="open || openDropdown"
		(click)="close()">
	</div>

	<button
		e2e="date-range-select"
		type="button"
		[disabled]="disabled"
		[id]="fieldId"
		class="dropdown-btn btn btn-block text-left custom-select cursor-default d-flex align-items-center justify-content-between pr-1"
		[class.text-muted]="disabled"
		[class.radius-none]="insideGroup"
		(click)="openDropdown = !openDropdown">

		<span class="block full-width clip-text">
			{{localeProperties.get(range)}}
		</span>

		<i class="fa fa-caret-down caret-icon pr-1 bg-transparent"></i>
	</button>

	<ul
		*ngIf="openDropdown"
		class="custom-option-list">

		<li
			e2e="date-range-options"
			*ngFor="let option of options"
			class="custom-option ellipsis-text cursor-default"
			[class.active]="option === range"
			(click)="selectRangeType($event, option)">

			{{localeProperties.get(option)}}
		</li>
		<span class="triangle-pointer"></span>
	</ul>
</div>
