<div class="table-responsive relative mb-3">
	<div *ngIf="loading">
		<div
			e2e="loading-shade"  
			class="bhn-loading-shade">
			<i
				e2e="loader"
				class="fa fa-pulse fa-spinner fa-2x"></i>
		</div>
	</div>

	<table
		e2e="monitoring-output-table"
		class="table table-striped margin-none">
		<thead>
			<tr e2e="ouput-table-header">
				<th>Event type</th>
				<th>Events</th>
				<th class="text-center">Status</th>
				<th *ngIf="pipeline === pipelineType.BATCH"></th>
			</tr>
		</thead>
		<tbody>
			<tr 
				e2e="monitoring-pipelines-row"
				*ngFor="let item of items; let i = index">
	
				<td e2e="event-type">
					{{item.eventId}}
					<i
						*ngIf="item.processedType === 'EXPLODE'"
						class="text-secondary">

						({{item.processedType}})
					</i>
				</td>

				<td e2e="events">
					{{item.eventsCount | number}}
				</td>

				<td 
					e2e="status"
					class="d-flex flex-column flex-xxl-row align-items-center justify-content-center text-center">

					<i
						e2e="success"
						*ngIf="!item.errorsCount && !item.missingConfigsCount"
						class="fa fa-check-circle text-success">
					</i>

					<p
						*ngIf="!!item.errorsCount"
						class="text-danger inline-block"
						[class.col-6]="!!item.missingConfigsCount">

						<i
							e2e="error-mark"
							class="fa fa-times-circle text-danger"
							aria-hidden="true">
						</i>

						<span
							e2e="errors-count"
							class="block">
			
							Errors: {{item.errorsCount | number}}
						</span>
					</p>

					<a
						*ngIf="!!item.missingConfigsCount"
						class="text-warning inline-block"
						[class.col-6]="!!item.errorsCount"
						title="Missing Configurations {{item.missingConfigsCount}}"
						[routerLink]="['/portal', 'monitoring', 'missing-configurations']">

						<i
							e2e="attention-mark"
							class="fa fa-exclamation-triangle" 
							aria-hidden="true">
						</i>

						<span
							e2e="missing-configurations-count"
							class="block">

							Missing Configs: {{item.missingConfigsCount | number}}
						</span>
					</a>
				</td>

				<td
					*ngIf="pipeline === pipelineType.BATCH"
					class="text-center">

					<a
						[routerLink]="['/portal', 'input-files']"
						[queryParams]="{
							'sourceApplication': item.sourceApplication,
							'eventId': item.eventId
						}">

						Browse input files
					</a>
				</td>
			</tr>

			<tr *ngIf="!items.length && !loading">
				<td
					e2e="no-data"
					colspan="7">
					No data.
				</td>
			</tr>
		</tbody>
	</table>
</div>
