<page-header
	class="block mb-4"
	title="Pending Details"
	linkToWiki="https://wiki.go.akamai-access.com/display/BI/Admin+portal+-+Pages">
</page-header>

<div class="table-responsive relative mt-3 mb-3">
	<div *ngIf="loading">
		<div
			e2e="loading-shade"  
			class="bhn-loading-shade">
			<i
				e2e="loader"
				class="fa fa-pulse fa-spinner fa-2x"></i>
		</div>
	</div>

	<table class="table table-hover mb-0">
		<thead>
			<tr>
				<th scope="col" class="align-middle w-25">File Name</th>
				<th scope="col" class="align-middle text-center">Source</th>
				<th scope="col" class="align-middle text-center">Event Type</th>
				<th scope="col" class="align-middle text-center">Process Operation Type</th>
				<th scope="col" class="text-center align-middle">Events Count</th>
				<th scope="col" class="text-center align-middle">Pending Details Type</th>
				<th scope="col" class="text-center align-middle">Status</th>
			</tr>
		</thead>
		<tbody
			*ngFor="let item of items; let i = index"
			class="table-row-group">

			<tr>
				<td>
					{{item.bucketName}}/{{item.objectKey}}
					<span *ngIf="item.bucketName && item.objectKey">
						<a
							[href]="composeS3Url(item)"
							target="_blank">

							<i
								class="fa fa-external-link mr-1"
								aria-hidden="true">
							</i>
						</a>
					</span>
				</td>
				<td class="wrap-text-normal text-center">
					{{item.sourceApplication}}
				</td>
				<td class="wrap-text-normal text-center">
					{{item.eventId}}
				</td>

				<td class="wrap-text-normal text-center">
					{{processOperation[item.processOperation]}}
				</td>

				<td class="text-center">
					{{item.eventCount | number}}
				</td>

				<td class="text-center text-info">
					{{pendingDetailsType.getAliasUI(item.pendingDetailsType)}}
				</td>

				<td class="text-center">
					<i
						class="fa"
						[ngClass]="{
							'fa-check-circle text-success': !item.hasError,
							'fa-times-circle text-danger': item.hasError
						}">
					</i>
				</td>
			</tr>
		</tbody>

		<tbody *ngIf="items && !items.length && !loading">
			<tr>
				<td colspan="6">
					No data.
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div
	*ngIf="items && items.length && pagination.totalItems > pagination.itemsPerPage"
	class="row">

	<div class="col-12">
		<paginator
			[loading]="loading"
			[itemsPerPage]="pagination.itemsPerPage"
			[totalItems]="pagination.totalItems"
			[page]="pagination.page"
			(changed)="pageChanged($event.page)">
		</paginator>
	</div>
</div>
