<div class="clearfix d-flex flex-column flex-xl-row align-items-start justify-content-between mb-2">
	<div class="d-flex flex-grow-1 flex-column">
		<div>
			<h1
				e2e="title"
				class="page-title inline-block mb-2">

				<span>{{title}}</span>
			</h1>

			<form
				*ngIf="isShowRefreshBtn"
				class="inline-block valign-top"
				(submit)="refresh()">

				<button
					type="submit"
					class="btn btn-default border-none pt-1 pb-1"
					title="Refresh"
					[disabled]="loading">

					<i
						e2e="refresh"
						class="fa fa-refresh"
						[class.fa-spin]="loading">
					</i>
				</button>
			</form>
		</div>

		<div
			*ngIf="pageHeaderSubTitleTpl"
			class="text-muted">

			<ng-template [ngTemplateRenderer]="pageHeaderSubTitleTpl"></ng-template>

			<a
				*ngIf="linkToWiki"
				[href]="linkToWiki"
				[tooltip]="'Link to Wiki'"
				target="_blank">

				Learn more...
			</a>
		</div>
	</div>

	<ng-template
		*ngIf="pageHeaderContentTpl"
		[ngTemplateRenderer]="pageHeaderContentTpl">
	</ng-template>

	<a
		*ngIf="linkToWiki"
		[href]="linkToWiki"
		[tooltip]="'Link to Wiki'"
		class="btn btn-sm"
		target="_blank">

		<i class="fa fa-question-circle-o fa-2x text-info" aria-hidden="true"></i>
	</a>
</div>
