<div class="d-flex align-items-start">
	<button
		class="btn btn-outline-dark p-1 pl-2 pr-2 mr-2 border-none"
		title="Back"
		[disabled]="!isRouterNavigated"
		(click)="goToBack()">

		<i class="fa fa-arrow-left fa-lg"></i>
	</button>

	<page-header title="Search configs by table"></page-header>
</div>

<div class="mb-3">
	<div><b>Selected(schema/table):</b></div>

	<span
		*ngFor="let item of selected"
		class="badge badge-secondary mr-2">

		{{item.schemaName}} . {{item.tableName}}
	</span>

	<div *ngIf="!selected.length">no select</div>
</div>

<div class="row">
	<div class="col-12 col-sm-5 pb-5 relative">
		<div class="mb-2">1. Select schema and table</div>

		<div
			*ngIf="loadingStructure"
			class="relative p-4">

			<div
				e2e="loading-shade"
				class="bhn-loading-shade">

				<i
					e2e="loader"
					class="fa fa-pulse fa-spinner fa-2x"></i>
			</div>
		</div>

		<div *ngIf="!loadingStructure">
			<treeview-select
				[items]="structure"
				(valueChange)="onSelected($event)">
			</treeview-select>
		</div>

		<div class="absolute w-100 p-3 refresh">
			<button
				class="btn btn-outline-success w-100"
				title="Apply and refresh"
				[disabled]="loadingStructure || loadingSources || !selected.length"
				(click)="refresh()">

				Apply see related source apps: ➡
			</button>
		</div>
	</div>

	<div class="col-12 col-sm-7 pb-5">
		<div class="mb-2 mt-3 mt-sm-0">2. See list of related Source Applications & Event Types:</div>
		<div class="source-list table-responsive relative mb-3">
			<div *ngIf="loadingSources">
				<div
					e2e="loading-shade"
					class="bhn-loading-shade">

					<i
						e2e="loader"
						class="fa fa-pulse fa-spinner fa-2x"></i>
				</div>
			</div>

			<table class="table table-sm table-hover table-striped table-bordered mb-0 pb-5">
				<thead>
				<tr>
					<th class="align-middle">
						Source Application
					</th>

					<th class="align-middle">
						Event Id
					</th>

					<th class="align-middle">
						Schema/Table
					</th>

					<th class="align-middle text-center">
						Config
					</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let item of sources;">
					<td class="align-middle">
						{{item.sourceApplication}}
					</td>

					<td class="align-middle">
						{{item.eventId}}
					</td>

					<td class="align-middle">
						{{item.schemaName}}/{{item.tableName}}
					</td>

					<td
						e2e="actions-dropdown"
						class="text-center align-middle">

						<a
							class="text-nowrap"
							[routerLink]="['/portal/config-storage']"
							[queryParams]="{
									'sourceApplication': item.sourceApplication,
									'eventId': item.eventId,
									'schemaName': item.schemaName,
									'tableName': item.tableName
								}">

							See configurations
						</a>
					</td>
				</tr>

				<tr *ngIf="!sources.length && !loadingSources">
					<td
						e2e="no-data"
						colspan="4">

						<b>No data.</b>
					</td>
				</tr>

				<tr *ngIf="!sources.length && loadingSources">
					<td
						e2e="loading"
						colspan="4">

						Loading...
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
