<h3
	e2e="subtitle"
	class="page-sub-title border-bottom m-0 pb-3">

	Monitoring
</h3>

<form
	[formGroup]="form"
	class="monitoring-form d-flex justify-content-between pt-3 m-0">

	<div class="relative w-100">
		<div *ngIf="loading">
			<div
				e2e="loading-shade"
				class="bhn-loading-shade">
				<i
					e2e="loader"
					class="fa fa-pulse fa-spinner fa-2x"></i>
			</div>
		</div>

		<div
			*ngIf="isEdit"
			class="form-group w-100 p-2">

			<label class="block">
				<textarea
					#ckEditor
					class="form-control"
					formControlName="content"
					[ckEditor]="form.get('content')"
					[updateData]="dataChanged">
				</textarea>
			</label>
		</div>

		<div
			*ngIf="!isEdit"
			class="p-2">

			<ng-template [ngIf]="form.get('content').value">
				<div [innerHTML]="form.get('content').value"></div>
			</ng-template>
			<ng-template [ngIf]="!form.get('content').value && !loading">
				<span
					*permissions="{ container: containers.PIPELINES, permissions: [permissionAction.UPDATE] }"
					class="text-muted">

					Press <small><i class="fa fa-pencil-square-o"></i></small> on the right for add text
				</span>
			</ng-template>
		</div>
	</div>

	<div
		*ngIf="!isEdit"
		class="p-2">

		<button
			*permissions="{ container: containers.PIPELINES, permissions: [permissionAction.UPDATE] }"
			type="button"
			class="btn btn-link outline-none cursor-pointer"
			title="Edit"
			[disabled]="loading"
			(click)="editToggle()">

			<i class="fa fa-pencil-square-o fa-2x"></i>
		</button>
	</div>

	<div
		*ngIf="isEdit"
		class="btn-group align-items-start p-2">

		<button
			type="button"
			class="btn btn-success outline-none cursor-pointer"
			title="Save"
			[disabled]="loading"
			(click)="save()">

			<i class="fa fa-check"></i>
		</button>
		<button
			*ngIf="isEdit"
			type="button"
			class="btn btn-danger outline-none cursor-pointer"
			title="Cancel"
			[disabled]="loading"
			(click)="cancelEdit()">

			<i class="fa fa-times"></i>
		</button>
	</div>
</form>
