:host {
	display: block;
	padding-left: 30px !important;

	&:before {
		content: '\f105';
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		position: absolute;
		top: 15px;
		left: 13px;
	}

	&.open:before {
		content: '\f107';
	}
}
