<section
	class="d-flex flex-column flex-xl-row pb-3 h-50"
	[ngClass]="{
		'h-100': !originalText || !secondaryText,
		'align-items-center justify-content-center': !originalText && !secondaryText
	}">

	<div
		*ngIf="originalText"
		class="col-xl-6 h-100">

		<div class="card inherit-height">
			<div class="card-header">
				<b>{{originalTitle}}</b>
			</div>
			<div class="card-body flex-grow-1 overflow-auto inherit-height">
				<div 
					id="oldTableHtml" 
					class="card-text">

					<table class="table table-sm text-left">
						<thead>
							<tr>
								<th 
									*ngFor="let item of originalItems[0]; let i = index" 
									#allTheseThings
									scope="col" 
									class="align-middle">

									{{item}}
								</th>
							</tr>
						</thead>
				
						<tbody
							*ngFor="let item of originalItems; let i = index"
							#allTheseThings
							class="table-row-group">
				
							<tr *ngIf="i !== 0">
								<td *ngFor="let el of item; let i = index">
				
									{{el}}
								</td>
							</tr>
						</tbody>

						<tbody *ngIf="!originalItems.length">
							<tr>
								<td
									e2e="no-data"
									colspan="1">
				
									No data.
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div
		*ngIf="secondaryText"
		class="col-xl-6 h-100">

		<div class="card inherit-height">
			<div class="card-header">
				<b>{{secondaryTitle}}</b>
			</div>

			<div class="card-body flex-grow-1 overflow-auto inherit-height">
				<div
					id="newTableHtml"
					class="card-text">

					<table class="table table-sm text-left">
						<thead>
							<tr>
								<th
									*ngFor="let item of secondaryItems[0]; let i = index"
									#itemsRef
									scope="col"
									class="align-middle">

									{{item}}
								</th>
							</tr>
						</thead>
			
						<tbody
							*ngFor="let item of secondaryItems; let i = index"
							#itemsRef
							class="table-row-group">
			
							<tr *ngIf="i !== 0">
								<td
									*ngFor="let el of item; let i = index"
									class="pt-3">
			
									{{el}}
								</td>
							</tr>
						</tbody>

						<tbody *ngIf="!secondaryItems.length">
							<tr>
								<td
									e2e="no-data"
									colspan="1">
				
									No data.
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="!originalText && !secondaryText">
		No data.
	</div>
</section>

<section
	*ngIf="originalText && secondaryText"
	class="col h-50">

	<div class="card h-100">
		<div class="card-header">
			<b>{{diffTitle}}</b>
		</div>

		<div
			*ngIf="htmlValue"
			#htmlDiff
			class="card-body flex-grow-1 overflow-auto inherit-height"
			innerHTML="{{htmlValue}}">
		</div>

		<div 
			*ngIf="!htmlValue"
			class="p-2">

			No data.
		</div>
	</div>
</section>
