<audit-header
	title="Redshift Data Load"
	[sourceApplication]="params.sourceApplication"
	[navigation]="navigation">
</audit-header>

<audit-stats-base-form
	[loading]="loading"
	[process]="process"
	[excludeSearchOptions]="excludeSearchOptions"
	(changed)="performSearch()">
</audit-stats-base-form>

<audit-actions
	*permissions="{ container: containers.REDSHIFT_DATA, permissions: [permission.UPDATE] }"
	[items]="items"
	[params]="params"
	[process]="process"
	[loading]="loading"
	[container]="containers.TRANSFER_DATA"
	(changed)="fetch()">
</audit-actions>

<div class="table-responsive relative pt-2 pb-4">
	<div *ngIf="loading">
		<div
			e2e="loading-shade"
			class="bhn-loading-shade">
			<i
				e2e="loader"
				class="fa fa-pulse fa-spinner fa-2x"></i>
		</div>
	</div>

	<table
		e2e="redshift-audit-table"
		class="table table-sm table-hover">
		<thead>
			<tr>
				<th scope="col" class="align-middle w-25 pl-2">
					File Name

					<column-sort
						[sortBy]="dateRangeColumnType.OBJECT_KEY"
						[sortByObservable]="sortSubj"
						(changed)="changedSortBy($event)">
					</column-sort>
				</th>
				<th scope="col" class="align-middle">Source</th>
				<th scope="col" class="align-middle">Event Type</th>
				<th scope="col" class="align-middle">
					<div class="d-flex align-items-center">
						<div class="nowrap-text">
							Raw File Created Time
							<p class="help-block text-muted small">
								({{timezone}})
							</p>
						</div>
						<column-sort
							[sortBy]="dateRangeColumnType.RAW_FILE_CREATED_TIME"
							[sortByObservable]="sortSubj"
							(changed)="changedSortBy($event)">
						</column-sort>
					</div>
				</th>
				<th scope="col" class="align-middle">
					<div class="d-flex align-items-center">
						<div>
							Start Time
							<p class="help-block text-muted small">
								({{timezone}})
							</p>
						</div>
						<column-sort
							[sortBy]="dateRangeColumnType.START_TIME"
							[sortByObservable]="sortSubj"
							(changed)="changedSortBy($event)">
						</column-sort>
					</div>
				</th>
				<th scope="col" class="text-center align-middle">Duration</th>
				<th scope="col" class="text-center align-middle">Events Count</th>
				<th scope="col" class="text-center align-middle">Status</th>
				<th scope="col" class="text-center align-middle">Actions</th>
			</tr>
		</thead>
		<tbody
			e2e="audit-row"
			*ngFor="let item of items; let i = index"
			class="table-row-group">

			<tr>
				<td>
					<p
						e2e="input-file-name"
						class="p-1">

						<strong>Input File: </strong>
						{{item.objectKey}}

						<a
							[href]="composeS3Url(item.bucketName, item.objectKey)"
							target="_blank"
							class="p-1">

							<i
								class="fa fa-share-square-o text-default"
								aria-hidden="true">
							</i>
						</a>
					</p>
				</td>
				<td
					e2e="source-app"
					class="wrap-text-normal pt-2">

					{{item.sourceApplication}}
				</td>
				<td
					e2e="event-id"
					class="wrap-text-normal pt-2">

					{{item.eventId}}
				</td>
				<td
					e2e="raw-file-created-time"
					class="nowrap-text pt-2">

					{{item.rawFileCreatedTime | dateTimeFormat}}
				</td>
				<td
					e2e="start-time"
					class="nowrap-text pt-2">

					{{item.startTime | dateTimeFormat}}
				</td>
				<td
					e2e="duration"
					class="text-center pt-2">
					{{item.timediff}}
				</td>
				<td
					e2e="event-count"
					class="text-center pt-2">
					{{item.eventCount | number}}
				</td>
				<td
					e2e="status"
					class="min-width text-center pt-2">
					<span *ngIf="!item.errorsCount">
						<i
							e2e="success-mark"
							class="fa fa-check-circle text-success">
						</i>
						OK
					</span>

					<ng-template
						[ngIf]="item.errorDetailsLink && item.errorDetailsParams"
						[ngIfElse]="empty">

						<a
							*ngIf="!!item.errorsCount"
							class="text-danger inline-block text-nowrap"
							[routerLink]="item.errorDetailsLink"
							[queryParams]="item.errorDetailsParams"
							queryParamsHandling="merge">

							<i
								e2e="error-mark"
								class="fa fa-times-circle text-danger"></i>

							<span class="p-1">Errors: {{item.errorsCount}}</span>
						</a>
					</ng-template>
					<ng-template #empty>
						<p
							*ngIf="!!item.errorsCount"
							class="text-danger inline-block text-nowrap">

							<i
								e2e="error-mark"
								class="fa fa-times-circle text-danger"></i>

							<span class="p-1">Errors: {{item.errorsCount}}</span>
						</p>
					</ng-template>

					<p
						*ngIf="!item.replayStatus && !!item.replayStartTime"
						class="d-block cursor-pointer"
						[tooltip]="replayService.getReplayTooltip(item)"
						[adaptivePosition]="false"
						placement="left"
						containerClass="text-monospace tooltip-md"
						container="body">

						<i
							class="fa fa-retweet mr-1"
							[ngStyle]="replayService.getReplayIconStyle(item)">
						</i>

						<b>{{replayService.getReplayStatusMessage(item)}}</b>
					</p>

					<p *ngIf="!!item.replayStatus">
						<b e2e="replay-status">{{item.replayStatus}}</b>
					</p>
				</td>
				<td class="text-center">
					<div
						e2e="actions"
						class="btn-group dropdown"
						dropdown
						container="body"
						placement="right"
						[insideClick]="true">

						<button
							id="dropdown-container"
							class="btn btn-link dropdown-toggle pt-1"
							type="button"
							dropdownToggle
							role="menu"
							aria-controls="dropdown-container">

							Actions
						</button>
						<ul
							e2e="actions-dropdown"
							id="dropdown-container"
							class="dropdown-menu dropdown-menu-right dropdown-alignment"
							*dropdownMenu>

							<li
								*permissions="{ container: containers.REDSHIFT_DATA, permissions: [permission.UPDATE] }"
								role="menuitem">
								<button
									type="button"
									[disabled]="item.replayInProcess || item.hideInProcess"
									class="dropdown-item"
									(click)="replay(item)">

									<i
										e2e="replay"
										class="fa fa-repeat mr-1 text-success"
										[class.fa-spin]="item.replayInProcess">
									</i>

									Re-play
								</button>
							</li>
							<li
								*permissions="{ container: containers.REDSHIFT_DATA, permissions: [permission.DELETE] }"
								role="menuitem">

								<button
									type="button"
									[disabled]="item.replayInProcess || item.hideInProcess"
									class="dropdown-item"
									(click)="openConfirmHideItem(item)">

									<i
										e2e="hide"
										class="fa fa-eye-slash mr-1 text-danger"
										[class.fa-spin]="item.hideInProcess">
									</i>

									Hide
								</button>
							</li>
							<li
								*ngIf="item.bucketName && item.objectKey"
								role="menuitem">

								<a
									[href]="composeS3Url(item.bucketName, item.objectKey)"
									target="_blank"
									class="dropdown-item">

									<i
										class="fa fa-share mr-1 text-warning"
										aria-hidden="true">
									</i>

									Find on S3
								</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>

		<tbody *ngIf="!items.length && !loading">
			<tr>
				<td
					e2e="no-data"
					colspan="10"
					class="border-none">

					No data.
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div
	*ngIf="items.length && items.length"
	class="row">

	<div class="col-12">
		<paginator-v2
			[loading]="loading"
			[itemsPerPageEnabled]="true"
			[boundaryLinks]="true"
			(changed)="pageChanged()">
		</paginator-v2>
	</div>
</div>
