<div class="table-responsive relative mb-3">
	<div *ngIf="loading">
		<div
			e2e="loading-shade"
			class="bhn-loading-shade">
			<i
				e2e="loader"
				class="fa fa-pulse fa-spinner fa-2x"></i>
		</div>
	</div>

	<table
		e2e="pipelines-configurations-table"
		class="table table-sm table-hover table-bordered m-0">
		<thead>
			<tr>
				<th class="align-middle">
					<div class="d-flex align-items-center">
						<div>
							Configuration Name
						</div>
						<column-sort
							[sortBy]="autoConfigColumnType.NAME"
							[sortByObservable]="sortSubj"
							(changed)="changedSortBy($event)">
						</column-sort>
					</div>
				</th>

				<th class="align-middle">
					<div class="d-flex align-items-center justify-content-center">
						<div>
							Last updated Date
							<p class="help-block text-muted small">
								({{timezone}})
							</p>
						</div>
						<column-sort
							[sortBy]="autoConfigColumnType.DATE"
							[sortByObservable]="sortSubj"
							(changed)="changedSortBy($event)">
						</column-sort>
					</div>
				</th>
				<th class="text-center align-middle">Actions</th>
				<th class="align-middle text-center p-2">
					<input
						type="checkbox"
						[checked]="isSelectedAll"
						(change)="selectedAllFiles($event.target)">
				</th>
			</tr>
		</thead>
		<tbody>
			<tr
				e2e="configurations-pipelines-row"
				*ngFor="let item of items; let i = index">
				<td
					e2e="configuration-name"
					class="align-middle">

					{{item.objectKey}}
				</td>

				<td
					e2e="modified-date"
					class="align-middle text-center">

					{{item.lastModified | dateTimeFormat: 'yyyy-MM-dd HH:mm:ss'}}
				</td>

				<td
					e2e="actions-dropdown"
					class="text-center align-middle">
					<list-item-actions
						[item]="item"
						(delete)="deleteFile(item)"
						(execute)="executeFiles([item])"
						(cleanUp)="cleanUpFile(item)"
						(download)="downloadFile(item)">
					</list-item-actions>
				</td>
				<td
					e2e="select-configuration"
					class="align-middle text-center p-2">
					<input
						type="checkbox"
						[checked]="item.selected"
						[disabled]="item.process"
						(change)="selectedFile(item, $event.target)">
				</td>
			</tr>

			<tr *ngIf="!items.length && !loading">
				<td
					e2e="no-data"
					colspan="7">
					<b>No data.</b>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div
	*ngIf="items.length && pagination.totalItems > pagination.itemsPerPage"
	class="row mb-5">

	<div class="col-12">
		<paginator
			[loading]="loading"
			[itemsPerPage]="pagination.itemsPerPage"
			[totalItems]="pagination.totalItems"
			[page]="pagination.page"
			(changed)="pageChanged($event.page)">
		</paginator>
	</div>
</div>
