<div class="h5">
	File list:
</div>

<div *ngIf="!params.bucket || !params.path">
	<div
		e2e="select-source-alert"
		class="alert alert-info p-2 pl-3 pr-3 mt-3 mb-3 small" role="alert">

		<i class="fa fa-info-circle mr-2"></i>
		<b>Select the bucket and the path to display the file list</b>
	</div>
</div>

<div [class.d-none]="!params.bucket || !params.path">
	<div class="row mt-3 mb-3">
		<div class="col-xs-7">
			<div class="input-group">
				<input
					e2e="search"
					id="search"
					type="search"
					class="form-control radius-none"
					placeholder="Search..."
					[disabled]="loading"
					[(ngModel)]="params.search"
					(keyup.enter)="search()"/>

				<button
					e2e="search-button"
					type="button"
					class="btn btn-secondary btn-search radius-none"
					[disabled]="!this.params.search || loading"
					(click)="search()">

					<i class="fa fa-search"></i>
				</button>
			</div>
		</div>

		<div class="col-xs-5 mt-3 mt-lg-0 d-flex justify-content-end">
			<div class="d-flex">
				<button
					e2e="refresh"
					class="btn btn-dark btn-sm"
					type="button"
					title="Refresh"
					[disabled]="loading"
					(click)="search()">

					<i
						class="fa fa-refresh mr-1"
						[class.fa-spin]="loading">
					</i>

					Refresh
				</button>
			</div>
		</div>
	</div>

	<div class="table-responsive relative mb-3">
		<div *ngIf="loading">
			<div
				e2e="loading-shade"
				class="bhn-loading-shade">
				<i
					e2e="loader"
					class="fa fa-pulse fa-spinner fa-2x"></i>
			</div>
		</div>

		<table
			class="uploaded-files table table-sm table-hover table-striped table-bordered table-fixed mb-0">
			<thead>
				<tr>
					<th class="align-middle">
						<div class="d-flex align-items-center">
							<div>
								Name
							</div>
							<column-sort
								[sortBy]="columnType.NAME"
								[sortByObservable]="sortSubj"
								(changed)="changedSortBy($event)">
							</column-sort>
						</div>
					</th>

					<th class="align-middle">
						<div class="d-flex align-items-center justify-content-center">
							<div>
								Last Updated Date
								<p class="help-block text-muted small">
									({{timezone}})
								</p>
							</div>
							<column-sort
								[sortBy]="columnType.DATE"
								[sortByObservable]="sortSubj"
								(changed)="changedSortBy($event)">
							</column-sort>
						</div>
					</th>
					<th class="text-center align-middle">Download</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of items; let i = index">
					<td class="align-middle fixed-width pre-wrap-text">
						{{item.name}}
					</td>

					<td class="align-middle text-center">
						{{item.lastModified | dateTimeFormat: 'yyyy-MM-dd HH:mm:ss'}}
					</td>

					<td
						e2e="actions-dropdown"
						class="text-center align-middle">

						<button
							class="btn btn-outline-primary p-1 pl-2 pr-2 border-none"
							title="Download"
							(click)="download(item)">
							<i class="fa fa-download fa-lg"></i>
						</button>
					</td>
				</tr>

				<tr *ngIf="!items.length && !loading">
					<td
						e2e="no-data"
						colspan="3">
						<b>No files.</b>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div
		*ngIf="items.length && pagination.totalItems > pagination.itemsPerPage"
		class="row mb-5">

		<div class="col-12">
			<paginator
				[loading]="loading"
				[itemsPerPage]="pagination.itemsPerPage"
				[totalItems]="pagination.totalItems"
				[page]="pagination.page"
				(changed)="pageChanged($event.page)">
			</paginator>
		</div>
	</div>
</div>
