.grouped-errors {
	.grouped-errors-body {
		max-height: 500px!important;
		flex-wrap: nowrap;
		overflow-x: auto;
	
		&::-webkit-scrollbar {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			width: 10px;
			height: 10px;
		}
	
		&::-webkit-scrollbar-thumb {
			border: 1px solid rgba(108, 117, 125, 1);
			border-radius: 5px;
			background-color: rgba(108, 117, 125, 1);
		}
	}

	.errorsCount {
		min-width: 60px;
	}
}
