<page-header
	class="block mb-2"
	title="Custom Replay Tool"
	linkToWiki="https://wiki.go.akamai-access.com/display/BI/Custom+Replay+Tool"
	[isShowRefreshBtn]="true"
	[setLoadingStatus]="loading"
	(refreshed)="fetchFiles()">

	<ng-template #pageHeaderSubTitle>
		Use this tool to replay multiple files that cannot be found by single search.
		To replay a custom list of files please prepare a CSV file with a list of files to replay and upload it on this page.
	</ng-template>
</page-header>

<div class="text-muted mt-4 mb-2">
	<p>
		Format of the file is described on the wiki: <a href="https://wiki.go.akamai-access.com/display/BI/Custom+Replay+Tool" target="_blank">Custom Replay Tool</a>
	</p>
	<p>
		Sample file:
		<a
			href="./../../../../../assets/custom_replay_sample.csv"
			download="custom_replay_sample.csv">

			Download sample
		</a>
	</p>
</div>

<div class="uploader-form form-horizontal d-flex flex-column flex-lg-row justify-content-start align-items-center mb-3">
	<div class="btn-group">
		<label
			*permissions="{ container: containers.CUSTOM_REPLAY_TOOL, permissions: [permission.CREATE] }"
			class="btn btn-outline-secondary btn-file cursor-pointer">
			Upload

			<input
				e2e="upload"
				class="d-none"
				name="file"
				multiple
				type="file"
				accept=".csv"
				[disabled]="loading || isCheckingOnExistFiles"
				(change)="uploadFiles($event.target)">
		</label>
	</div>

	<div
		*ngIf="uploadFilesList.length"
		class="ml-2">

		<p
			class="preloader text-success d-flex align-items-center justify-content-center"
			[class.in-process]="uploadFilesList.length">

			<i class="icon fa fa-upload fa-lg p-2"></i>
			<sub>
				<span class="badge badge-pill badge-light">
					{{uploadFilesList.length}}
				</span>
			</sub>
		</p>
	</div>
</div>

<div class="table-responsive relative mb-3">
	<div *ngIf="loading">
		<div
			e2e="loading-shade"
			class="bhn-loading-shade">
			<i
				e2e="loader"
				class="fa fa-pulse fa-spinner fa-2x"></i>
		</div>
	</div>

	<table
		e2e="replay-files-table"
		class="table table-hover table-sm table-bordered border m-0">

		<thead>
			<tr>
				<th class="align-middle">File name</th>
				<th class="text-center align-middle">Last updated date</th>
				<th class="text-center align-middle">Last updated user</th>
				<th class="text-center align-middle">Re-play</th>
				<th class="text-center align-middle"></th>
			</tr>
		</thead>
		<tbody>
			<tr
				e2e="replay-files-row"
				*ngFor="let item of items">

				<td
					e2e="file-name"
					class="align-middle">

					{{item.objectKey | replace: 'replay/csv/'}}
				</td>

				<td
					e2e="modified-date"
					class="align-middle text-center">

					{{item.lastModified | dateTimeFormat: 'yyyy-MM-dd HH:mm:ss'}}
				</td>

				<td
					e2e="user-email"
					class="text-center align-middle">

					{{item.userEmail}}
				</td>

				<td
					e2e="replay"
					class="align-middle text-center">

					<button
						*permissions="{ container: containers.CUSTOM_REPLAY_TOOL, permissions: [permission.UPDATE] }"
						type="button"
						[disabled]="item.replayInProcess"
						class="btn btn-link"
						(click)="replay(item)">

						<i
							e2e="replay"
							class="fa fa-repeat mr-1"
							[class.fa-spin]="item.replayInProcess">
						</i>

						Re-play
					</button>
				</td>

				<td class="text-center align-middle">
					<button
						*permissions="{ container: containers.CUSTOM_REPLAY_TOOL, permissions: [permission.DELETE] }"
						class="btn btn-outline-danger border-none p-1 pl-2 pr-2"
						type="button"
						title="Delete"
						[disabled]="item.deleteInProcess"
						(click)="delete(item)">

						<i
							e2e="delete"
							class="fa"
							[ngClass]="{
								'fa-pulse fa-spinner': item.deleteInProcess,
								'fa-trash': !item.deleteInProcess
							}">
						</i>
					</button>
				</td>
			</tr>

			<tr *ngIf="!items.length">
				<td
					e2e="no-data"
					class="text-center text-muted p-2"
					colspan="5">

					<b>No data</b>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div
	*ngIf="items.length && pagination.totalItems > pagination.itemsPerPage"
	class="row mb-5">

	<div class="col-12">
		<paginator
			[loading]="loading"
			[itemsPerPage]="pagination.itemsPerPage"
			[totalItems]="pagination.totalItems"
			[page]="pagination.page"
			(changed)="pageChanged($event.page)">
		</paginator>
	</div>
</div>
